using System;
using Microsoft.Extensions.Logging;

namespace {{Namespace}}
{
    public static class LoggerExtensions
    {
        static LoggerExtensions()
        {
        {{#Events}}
            {{Name}} = LoggerMessage.Define{{#ArgumentTypes.0}}<{{/ArgumentTypes.0}}{{ArgumentTypesString}}{{#ArgumentTypes.0}}>{{/ArgumentTypes.0}}(LogLevel.{{Level}},
                new EventId({{Id}}, "{{Name}}"),
                "{{Template}}");
            
         {{/Events}}
        }
    
        {{#Events}}
                
         public static void Log{{Name}}(this ILogger logger{{ArgumentsString}}, Exception exception = null)
            => {{Name}}(logger{{ArgumentNamesString}}, exception);
        {{/Events}}
    
    
        {{#Events}}
        
        private static readonly Action<ILogger{{#ArgumentTypes.0}}, {{/ArgumentTypes.0}}{{ArgumentTypesString}}, Exception> {{Name}};
        {{/Events}}
    }
}